@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  font-family: "Avenir", serif;
  padding: 0%;
  margin: 0%;
}

.form {
  color: #323232;
  border-bottom: 0.0625rem solid #E1E1E1;
  margin: 0% 5%;
}
@media screen and (min-width: 80rem) {
  .form {
    margin: 0% 5% 0 5%;
  }
}
.form__title {
  padding-bottom: 2%;
  font-size: 0.8125rem;
}
@media screen and (min-width: 48rem) {
  .form__title {
    font-size: 0.875rem;
    padding-bottom: revert;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
}
.form__main {
  padding: 5% 0% 3% 0%;
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 48rem) {
  .form__main {
    padding: 2% 0%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .form__main {
    margin: 0% 9% 0 -2%;
    padding: 2% 0%;
    justify-content: flex-start;
  }
}
.form__main-image {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
@media screen and (min-width: 80rem) {
  .form__main-image {
    margin-left: 2.125rem;
  }
}
.form__main-comment {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .form__main-comment {
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 80rem) {
  .form__main-comment {
    margin-left: 1.5rem;
  }
}
.form__main-comment-text {
  color: #afafaf;
  font-weight: 600;
  padding-bottom: 5%;
  font-size: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .form__main-comment-text {
    padding-bottom: 2%;
  }
}
.form__main-comment-textarea {
  color: #323232;
  width: 65vw;
  background-color: #FAFAFA;
  height: 6rem;
  font-family: Avenir;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  padding: 2% 3%;
}
.form__main-comment-textarea::-moz-placeholder {
  color: #323232;
}
.form__main-comment-textarea::placeholder {
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .form__main-comment-textarea {
    padding-bottom: 2%;
    height: 2.5rem;
    width: 25rem;
  }
}
@media screen and (min-width: 80rem) {
  .form__main-comment-textarea {
    width: 30vw;
  }
}
.form__main-button {
  background-color: #0095FF;
  color: #ffffff;
  height: 2.5rem;
  width: 73%;
  cursor: pointer;
  text-align: center;
  line-height: 0.625rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__main-button img {
  padding: 5%;
}
.form__main-button p {
  padding-left: 15%;
}
@media screen and (max-width: 48rem) {
  .form__main-button {
    margin-left: 23%;
    margin-bottom: 5%;
    margin-top: 1%;
  }
}
@media screen and (min-width: 48rem) {
  .form__main-button {
    display: none;
  }
}
@media screen and (max-width: 48rem) {
  .form__main-button1 {
    display: none;
  }
}
@media screen and (min-width: 48rem) {
  .form__main-button1 {
    display: revert;
    background-color: #0095FF;
    color: #ffffff;
    height: 2.5rem;
    width: 25%;
    cursor: pointer;
    text-align: center;
    line-height: 0.625rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    -o-border-image: initial;
       border-image: initial;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.625rem;
  }
  .form__main-button1 img {
    margin-left: 5%;
  }
  .form__main-button1 p {
    padding: 0% 12%;
    align-self: center;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .form__main-button1 {
    margin-left: 1.375rem;
  }
}/*# sourceMappingURL=Form.css.map */