@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
      url("../../assets/Fonts/alternateFiles/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
      url("../../assets/Fonts/alternateFiles/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
      url("../../assets/Fonts/alternateFiles/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
}