$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$color-primary-black: #323232;
$color-primary-blue: #0095FF;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;
$color-secondary-darkblack: #000000;
$color-secondary-blue: #0065AD;
$color-secondary-mercury:  #E1E1E1;
$color-secondary-alabaster:  #FAFAFA;
$percent-padding-margin5: 5%;