@use "../../styles/partials/fonts" as fonts;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as global;

.hero{
    
    &__video{
        position:relative;

        &--poster{
            width: 100%;

            @include mixins.tablet{
                padding-left: 5%;
                padding-right:5%;
                background-color: $color-primary-black;
            }

            @include mixins.desktop{
                padding-left: 10%;
                padding-right:10%;
                background-color: $color-primary-black;
            }
                
        }
        
        &-control{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        
        &-control-play img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &-control-right {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 1;

            &--screen img,
            &--volume img {
                margin-left: .625rem;
            }
            &--screen img {
                z-index: 1;
            }
            &--volume img {
                z-index: 1;
            }
        }
    }
}

