@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  font-family: "Avenir", serif;
  padding: 0%;
  margin: 0%;
}

.upload__form {
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 80rem) {
  .upload__form {
    display: flex;
  }
}
@media screen and (min-width: 48rem) {
  .upload__form {
    border-top: 0.0625rem #E1E1E1 solid;
  }
}
.upload__form-image {
  flex-direction: column;
}
@media screen and (min-width: 80rem) {
  .upload__form-image {
    flex: 0 0 30%;
    max-width: 29.5%;
    padding: 1rem 0.9375rem;
  }
}
.upload__form-image--title {
  color: #afafaf;
  font-size: 0.875rem;
  font-weight: 600;
  padding-bottom: 0.4375rem;
  display: block;
}
@media screen and (min-width: 48rem) {
  .upload__form-image--title {
    padding-top: 2%;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-image--title {
    padding-top: 0;
  }
}
.upload__form-image--file {
  width: 100%;
  height: 25%;
  border-radius: 0.25rem;
  background-color: #E1E1E1;
  margin-bottom: 5%;
}
@media screen and (min-width: 48rem) {
  .upload__form-image--file {
    width: 50%;
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-image--file {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 1rem 0.9375rem;
  }
}
.upload__form-title {
  display: flex;
  flex-direction: column;
}
.upload__form-title--label {
  color: #afafaf;
  font-size: 0.8125rem;
  padding-bottom: 0.4375rem;
  font-weight: 600;
}
.upload__form-title--input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FAFAFA;
  font-family: Avenir;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  border-width: 0.0313rem;
  padding: 2% 3%;
  font-size: 0.625rem;
  margin-bottom: 5%;
}
@media screen and (min-width: 48rem) {
  .upload__form-title--input {
    font-size: 0.75rem;
    margin-bottom: 2%;
  }
}
.upload__form-description {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .upload__form-description {
    border-bottom: 0.0625rem #E1E1E1 solid;
  }
}
.upload__form-description--label {
  color: #afafaf;
  font-size: 0.8125rem;
  padding-bottom: 0.4375rem;
  font-weight: 600;
}
.upload__form-description--label::-moz-placeholder {
  color: #323232;
}
.upload__form-description--label::placeholder {
  color: #323232;
}
.upload__form-description--input {
  color: #323232;
  width: 100%;
  background-color: #FAFAFA;
  font-family: Avenir;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  padding: 2% 3%;
  height: 6rem;
  margin-bottom: 5%;
  font-size: 0.625rem;
}
.upload__form-description--input::-moz-placeholder {
  color: #323232;
}
.upload__form-description--input::placeholder {
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .upload__form-description--input {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-description--input {
    height: 6rem;
  }
}
.upload__form-button {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .upload__form-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.upload__form-button-publish {
  display: flex;
  margin-top: 2%;
  background-color: #0095FF;
  color: #ffffff;
  border-radius: 0.3rem;
  border-color: #0095FF;
  border-width: 0.009rem;
  align-items: center;
  justify-content: flex-start;
  padding: 3% 0;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .upload__form-button-publish {
    padding: 7% 0;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-button-publish {
    padding: 0.4063rem;
    width: 9rem;
    height: revert;
  }
}
.upload__form-button-publish--image {
  padding-left: 0.4375rem;
}
.upload__form-button-publish--title {
  padding-left: 5.75rem;
  font-size: 0.625rem;
}
@media screen and (min-width: 48rem) {
  .upload__form-button-publish--title {
    padding: 0 2.25rem;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .upload__form-button-publish--title {
    padding-left: 1.5rem;
    font-size: 0.75rem;
  }
}
.upload__form-button-cancel {
  font-size: 0.8125rem;
  align-self: center;
  padding: 10% 0;
  color: #0095FF;
  font-weight: 600;
  font-size: 0.625rem;
}
@media screen and (min-width: 48rem) {
  .upload__form-button-cancel {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 6%;
    font-size: 0.625rem;
  }
}/*# sourceMappingURL=UploadVideoForm.css.map */