@use "../../styles/partials/fonts" as fonts;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as global;

.description{
    &__title{
        font-weight: 600;
        border-bottom: 1px $color-secondary-mercury solid;
        margin: 5% 5% 0% 5%;
        font-size:24px;

        @include mixins.tablet{
            border-bottom: none;
            font-size: 33px;
        }
        
        & p{
            @include mixins.padding-bottom5;
        }
    }

    &__details{
        display:flex;
        border-bottom: 1px $color-secondary-mercury solid;
        margin: 5% 5% 0% 5%;
        color:$color-primary-silver;
        justify-content: space-between;

        @include mixins.tablet{
            padding-bottom: 0%;
        }

        &-left{
            padding: 0 13.75% 5% 0; 

            &--channel{
                color:$color-primary-black;
                font-weight: 600;
                padding-bottom: 10%;
                font-size: .75rem;
            }

            @include mixins.tablet{
                display:flex;
                padding:0%;

                &--date{
                    padding-left: 30px;
                    font-size: .75rem;
                }

            }
        }
        
        &-right{
            padding: 0 24px 5% 13.75%; 
            font-size: .75rem;

            @include mixins.tablet{
                display:flex;
                padding:0%;
            }

            &--views{
                padding-bottom: 10%;
                display:flex;
                font-size: .75rem;

                & img{
                    padding-right:10%;
                }
            }

            &--likes{
                padding-bottom: 10%;
                display:flex;
                font-size: .75rem;

                & img{
                    padding-right:10%;
                }

                @include mixins.tablet{
                    padding-right: 30px;
                }

            }

            
        }
    }

    &__textbox{
        padding: 5%;
        font-size: 13px;
    }
}