@use "../../styles/partials/fonts" as fonts;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as global;

.header {
    display: flex;
    flex-direction: column;
    padding: 5%;

    @include mixins.tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;

    }

    @include mixins.desktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1% 5rem;

    }

    &__logo {
        display: flex;
        justify-content: space-around;

        @include mixins.tablet {
            margin-right: 15%;

        }

        @include mixins.desktop {
            margin-right: 49%;
        }
    }

    &__button {

        &-upload {
            width: 90vw;
            color: $color-primary-white;
            display: flex;
            align-items: center;
            background-color: $color-primary-blue;
            border-color: $color-primary-blue;
            border-radius: 0.25rem;
            border-width: 0.009rem;
            height: 2.25rem;

            & p {
                padding: 0 5.625rem;
                text-decoration: none;
            }

            @include mixins.tablet {
                width: 20vw;
                height: 1.875rem;

                & p {
                    padding: 0 1.625rem;
                }

            }

            @include mixins.desktop {
                width: 11vw;
                height: 1.975rem;

                & p {
                    padding: 0 1.625rem;
                }

            }
        }


    }

    &__main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-image {

            &--active1 {
                border-radius: 50%;
                width: 2.25rem;
                height: 2.25rem;

                @include mixins.tablet {
                    display: none;
                }
            }

        }

        &-search {
            padding-top: 5%;
            padding-bottom: 5%;
            position:relative;

            @include mixins.desktop {
                padding: 0;
            }

            &-bar {
                height: 1.8rem;
                background-color: $color-secondary-alabaster;
                border-radius: .25rem;
                border-width: .009rem;
                padding-left: .9375rem;
                width:96%;

                @include mixins.desktop {
                    height: 1.9rem;
                }

                &::placeholder {
                    color: $color-primary-black;
                    font-family: Avenir;
                    padding-left: 2%;

                    @include mixins.tablet{
                        padding-left: 5%;

                    }
                }

            }

            &-image{
                position: absolute;
                left: .25rem;
                width: .9375rem;
                top: 33%;

                @include mixins.tablet{
                    left:.4375rem;
                }

                @include mixins.desktop{
                    top: 24%;
                }
            }

        }
    }

    &__image--active2 {
        @include mixins.mobil {
            display: none;
        }

        @include mixins.tablet {
            display: revert;
            border-radius: 50%;
            width: 2.25rem;
            height: 2.25rem;

        }
    }


}