@use "../../styles/partials/fonts" as fonts;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as global;

.nav{

    & h4{
        font-weight: 600;
        color:$color-primary-silver;
        padding: 5% 5% 3% 5%;
        line-height: 1.125rem;

        @include mixins.desktop{
            padding: 22% 5% 10% 5%;
        }

    }
    
}